@page
@model LoginModel

@{
    ViewData["Title"] = "Logowanie";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-4">
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.UserName">Nazwa użytkownika</label>
                    <input asp-for="Input.UserName" class="form-control" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password">Hasło</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                           Zapamiętaj mnie?
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Zaloguj</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Nie pamiętam hasła?</a>
                    </p>
                    @*<p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Rejestruj nowego użytkownika</a>
                    </p>*@
                </div>
            </form>
        </section>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
