@model List<Entities.Models.FavoriteAdditionalMessage>

<form method="post" asp-area="Doctor" asp-controller="Doctor">
    <div class="container">
        @if(@Model.Count > 0){
        <div class="list-group">
            @foreach(var item in Model){
            <table>
                <tr>
                    <td>
                        <a class="list-group-item list-group-item-action"
                           asp-action="PickFavMessagePost"
                           asp-route-messageId="@item.Id">
                            @item.Message
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-danger p-1" asp-action="DeleteFavMessage" asp-route-messageId="@item.Id">
                            <i class="far fa-trash-alt text-light"></i>
                        </a>
                    </td>
                </tr>
            </table>
           
            }
        </div>
        }
        else 
        {
        <p>Brak ulubionych wiadomości.</p>
        }
    </div>
</form>
