@model List<Entities.Models.FavoriteAdditionalMessage>


    <div class="container">
        @if (@Model.Count > 0)
        {
        <div class="list-group">

            <ul class="list-group">
                @foreach (var item in Model)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a class="btn list-group-item-action anchorItemPick" id="@item.Id">
                            @item.Message
                        </a>
                        <a class="btn btn-danger badge anchorItemDelete" id="@item.Id">
                            <i class="far fa-trash-alt text-light"></i>
                        </a>
                    </li>
                }
            </ul>
            </div>
        }
        else
        {
            <p>Brak ulubionych wiadomości.</p>
        }
    </div>


<script type="text/javascript">

    $(".anchorItemPick").click(function () {
        $(this).off("click");
        var formMessageId = $(this).attr("id");
        $.ajax({
            type: 'POST',
            url: '/Doctor/Doctor/PickFavMessagePost',
            cache: false,
            contentType: "application/json; charset=utf-8",
            datatype: "text",
            headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
            data: JSON.stringify(formMessageId),
            success: function (response) {
                //additionalInfo and favMessageModal defined in Doctor Index.cshtml
                $("#additionalInfo").val(response);
                $("#favMessageModal").modal('hide');
            },
            error: function (error) {
                console.log("Error while POST of PickFavMessage")
                console.warn(error)
            }
        }).done(function () {
            $(this).on("click");
        });
    });

    $(".anchorItemDelete").click(function () {
        $(this).off("click");
        var deleteMessageId = $(this).attr("id");
        $.ajax({
            type: 'DELETE',
            url: '/Doctor/Doctor/DeleteFavMessage',
            cache: false,
            contentType: "application/json; charset=utf-8",
            datatype: "text",
            headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
            data: JSON.stringify(deleteMessageId),
            success: function (response) {
                //modal defined in Doctor Index.cshtml
                $("#favMessageModal").modal('hide');
            },
            error: function (error) {
                console.log("Error while DELETE FavMessage");
                console.warn(error);
            }
        }).done(function () {
            $(this).on("click");
        });
    });



</script>